@model CRUDApp.Models.EmployeeInfo

@{
    ViewData["Title"] = "Delete";

}
<h1>   Delete </h1>
<div>
    <h4>    Employee Information </h4>
    <hr />
    <d1 class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
    </d1>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID"/>
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-action="Index"> Back to List</a>
    </form>
</div>
